    {% extends "base.html" %}
    {% load static %}

    {% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static 'news/styles.css' %}">
    {% endblock %}

    {% block content %}
    <a href="{% url 'news:newStory' %}">Write New Story</a>

    {% comment %}

    <h2>Latest News</h2>

    <div id="latest-stories">
        {% if latest_stories %}
            {% for story in latest_stories %}
                {% include './storyCard.html' with story=story position=forloop.counter%}
            {% endfor %}
        {% else %}
            <p>No stories are available.</p>
        {% endif %}
    </div> {% endcomment %}

    <div>
        <form method="GET">
            <select name="with_author">
                <option value="">All Authors</option>
                {% for author in author_list %}
                <option value="{{ author.id }}" {% if request.GET.with_author == author.id|stringformat:"i" %}selected="true"{% endif %}>{{ author.username }}</option>
                {% endfor %}
            </select>
            <input type="search" name="search" placeholder="search" value="{{request.GET.search}}" />
            <button type="submit">filter</button>
        </form>



    </div>


    <div id="all-stories">
        {% if latest_stories %}
            {% for story in all_stories %}
                {% include './storyCard.html' with story=story %}
            {% endfor %}
        {% else %}
            <p>No stories are available.</p>
        {% endif %}
    </div>

    {% endblock %}