    {% extends "base.html" %}
    {% load static %}

    {% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static 'news/styles.css' %}">
    {% endblock %}

    {% block content %}
    <a href="{% url 'news:newStory' %}">Write New Story</a>

    <h2>{% if request.GET.order == 'oldfirst' %}Old{% else %}Latest{% endif %} News</h2>

    <form method="GET" >
        <table>
        {{ form.as_div }}
        </table>
        <button type="submit">filter</button>
    </form>

    <div id="all-stories">
        {% if all_stories %}
            {% for story in all_stories %}
                {% include './storyCard.html' with story=story %}
            {% endfor %}
        {% else %}
            <p>No stories are available.</p>
        {% endif %}
    </div>

    {% endblock %}