{% extends 'base.html' %}
{% load static %}

{% block stylesheets %}
<link rel='stylesheet' type='text/css' href="{% static 'news/styles.css' %}">
{% endblock%}

{% block content %}
<div id="story-wrapper">
    <h2>{{ story.title }}</h2>
    <h4>{{ story.author }}</h4>
    <div id="story-content">
        <img src="{% static '/news/images/placeholder-5.jpg' %}">
        {{ story.content|linebreaks }}
    </div>
</div>

<div id="comment-wrapper">
    <div>

        <form method="POST" action="{{ form_action }}">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Add Comment</button>
        </form>
    </div>

    <p><a href="{% url 'news:addComment' story.id %}">Add a comment</a></p>

    <ul>
    {% for comment in story.comments.all %}
        <li>{{comment.author.username}} ({{comment.created_at}}): {{ comment.content }}</li>
    {% endfor %}
    </ul>


{% endblock %}